*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  
}

::selection{
  color:#66ff00 ;
}


body{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: #1c2841;
}

.container{
  width: 680px;
}
.wrapper{
  position: relative;
  height: 80px;
  line-height: 90px;
}
input{
  width: 100%;
  outline: none;
  position: absolute;
  font-size: 2.2em;
  padding: 0 30px;
  line-height: 80px;
  border-radius: 10px;
  border: 4px solid #f0ffff;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}
.wrapper-content{
  position: absolute;
  font-size: 1.6em;
  color: #f0ffff;
  padding: 0 25px;
  margin: 0 25px;
  background-color: #1c2841;
  transition: 0.2s ease;
}
input:focus, input:valid{
  color: #66ff00;
  border: 4px solid #66ff00;
}
input:focus + .wrapper-content, input:valid + .wrapper-content{
  color: #66ff00;
  height: 30px;
  padding: 0 12px;
  line-height: 30px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1111;
}